
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
  <header>
    <%= link_to '<', root_path, class: 'back-button' %>
    <h1 class = "paynow-header">Scheduled Payment</h1>
  </header>



<div class="body-content1">
    <%= render "form" %>
</div>