    <div class="limitcontainer">
      <%= link_to('<', back_button_path, class: 'back-button') %>
      <div class="limit-text">
        Local Transfer Limit
      </div>
    </div>

  
    <div class="changingcontainer">
      <div class="select-card-container">
        <div class='left'>
          To DBS/POSB Accounts
        </div>
        <div class='right'>
          <%= link_to('>', transactions_index_path, class: 'next-button') %>
        </div>
      </div>
    </div>
  
    <div class="changingcontainer">
      <div class="select-card-container">
        <div class='left'>
          Paynow or Scan and Trsf
        </div>
        <div class='right'>
          <%= link_to('>', cardlimit_paynow_path, class: 'next-button') %>
        </div>
      </div>
    </div>

  




