<div class="limit-container">
  <a href="<%= back_button_path %>" class="back-button1">&lt;</a>
  <div class="limit-text">Local Transfer Limit</div>
</div>

<div class="changing-container">
  <div class="select-card-container">
    <a href="<%= transactions_index_path %>" class="link-container">
      <div class="limit-text1">To DBS/POSB Accounts</div>
      <div class="limit-right">
      <div class="arrow">&gt;</div>
      </div>
    </a>
  </div>
</div>

<div class="changing-container">
  <div class="select-card-container">
    <a href="<%= cardlimit_paynow_path %>" class="link-container">
      <div class="limit-text1">To Other Banks</div>
      <div class="arrow">&gt;</div>
    </a>
  </div>
</div>
