<div class="topboxovrtrnsfr2">
  <h1>Select Location</h1>
</div>

<div class="search-container01">
  <input type="text" placeholder="Search..." id="search-barovertrnsfr">
</div>

<div class="listofcountriesovrs">
  <ul>
    <% @countries.each do |country| %>
      <li>
        <% if country == "Thailand" %>
          <%= link_to country, '#', class: "country-link", data: { country: country }, style: "font-size: medium; color: black;" %>
        <% else %>
          <%= link_to country, overseas_transfer_new_recipient_path(country: country), class: "country-link", style: "font-size: medium; color: black;" %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<!-- Modal for Thailand -->
<div id="promptPayModal" class="modal" style="display:none;">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Would you like to use our PromptPay feature to send money to the recipient’s phone number directly ?</p>
    <%= link_to 'Use PromptPay', promptpay_path, class: 'buttonpromptpay-link' %>
    <%= link_to 'Proceed without PromptPay', overseas_transfer_new_recipient_path(country: 'Thailand'), class: 'buttonproceed-link' %>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var modal = document.getElementById('promptPayModal');
    var span = document.getElementsByClassName('close')[0];

    document.querySelectorAll('.country-link').forEach(link => {
      link.addEventListener('click', function(event) {
        if (this.dataset.country === 'Thailand') {
          event.preventDefault();
          modal.style.display = 'block';
        }
      });
    });

    span.onclick = function() {
      modal.style.display = "none";
    };

    window.onclick = function(event) {
      if (event.target === modal) {
        modal.style.display = "none";
      }
    }
  });
</script>

<!-- Automatically refreshes for select location to work -->
<script>
  if (!sessionStorage.getItem('refreshed')) {
    sessionStorage.setItem('refreshed', 'true');
    window.location.reload(true); // true forces the reload to be from the server
  } else {
    sessionStorage.removeItem('refreshed');
  }
</script>