.bottomtabnavigatorcontainer {
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 0;
  margin: 0;
  background-color: #162633;
}

.navicon {
  height: 3.5vh;
  padding: 0;
  margin: 1vh 0 0 0;
}

.navtext {
  font-family: Lato;
  font-size: 11px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  color: #96A5B0;
  text-align: center;
}

.navtextselected {
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  color: white;
  text-align: center;
}