/* General styles */
body.enter {
  font-family: Arial, sans-serif;
  background-color: #f1f2f4;  /* Light grey background */
  width: 100%;
}


/* Header styles */
.enter header {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.enter .back-button {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  margin-right: 15px;
}

.enter .paynow-header {
  font-size: 24px; /* Adjust font size as needed */
  font-family: 'Lato', sans-serif; /* Change font family */
  text-align: center; /* Align text to the left */
  font-weight: 600;
  flex-grow: 1; /* Allows header text to grow and take up available space */
}

/* Content container */
.enter .content-container {
  width: 100%;
  justify-content: top;
}

/* Form styles */
.enter .input-container {
  margin-bottom: 20px;
  font-size: 16px;
  width: 100%;
  position: relative;
}

.enter .mobile-input {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px; /* Increase padding for a bigger field */
  margin-top: 10px;
  width: 100%; /* Make the input field full width */
  position: relative;  /* To position the hint text */
  }

.enter .country-code {
  padding: 10px 15px;
  background-color: transparent;  /* Make background transparent */
  border-right: none;  /* Remove border */
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

.enter .mobile-number-input {
  flex: 1;
  border: none;
  padding-left: 10px;
  font-size: 16px;
}

.enter .mobile-number-input::placeholder {
  color: #999;  /* Light grey placeholder */
  opacity: 1;  /* Ensure full opacity */
}

.enter .hint-text {
  position: absolute;
  top: -0.3px;
  left: 15px;
  font-size: 14px;
  color: #999;
  background-color: #fff;
  padding: 0 5px;
}

/* NEXT button styles */
.enter .next-button-container {
  margin-top: 500px;  /* Push the button to the bottom */
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: bottom;
}

.enter .next-button {
  background-color: red;
  color: white;
  border: none;
  padding: 15px;
  font-size: 18px;
  width: 90%;
  max-width: 600px;
  border-radius: 6px;
  cursor: pointer;
  justify-content: bottom;
}

.enter .next-button:hover {
  background-color: darkred;
}

