/* General Tab Styles */
.tab, .suggestion-tab-container {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab .tablinks, .suggestion-tab-container .suggestion-tablinks {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab .tablinks:hover, .suggestion-tab-container .suggestion-tablinks:hover {
  background-color: #ddd;
}

.tab .tablinks.active, .suggestion-tab-container .suggestion-tablinks.active {
  background-color: #e1e1e1;
  border-bottom: 2px solid #ec3434; /* Horizontal line */
}

/* Tab Content Styles */
.tabcontent, .suggestion-tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent.active, .suggestion-tabcontent.active {
  display: block;
}

/* FAB Styles */
.fab-container {
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 1000;
}

.fab {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #ec3434;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.fab .fab-content {
  color: white;
  font-size: 24px;
}

.suggestion-tab-container {
  position: fixed;
  bottom: 160px;
  right: 20px;
  width: 350px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 999;
}

.suggestion-tabs {
  display: flex;
}

.suggestion-tab {
  display: flex;
  align-items: center;
}

.delete-tab {
  background-color: transparent;
  border: none;
  color: #ec3434;
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
}

.delete-tab:hover {
  color: #ff0000;
}