.notification-banner {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 10px;
  color: black;
  font-size: small; 
  text-align: left;
}




.tabos-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  background: rgb(255, 254, 254);
  font-size: small;
}


.tabos-list .tabos {
  flex: 1;
  font-size: small;

  text-align: center;
  position: relative; /* Ensure position relative for z-index */
  border-bottom: 2px solid grey; /* Add right border for the line */

}


.tabos-list .tabos a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: rgb(63, 63, 63);
  font-size: medium;

}
.tabos-list .tabos.active a {
  text-underline-offset: 2px; /* Adjust as needed */
  color: rgb(0, 0, 0); /* Text color for active state */
  font-weight: bold;
}

.tabos-content {
  padding: 20px;
background-color: #fffcfc;
  border-top: none;
  font-size: medium;

  
}

.recipient-entry {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: medium;

}

.recipient-icon {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  font-size: medium;

}

.button.primary-button {
  display: block;
  width: auto;
  text-align: center;
  background-color: #888;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 20px;
  font-size: medium;
}


/*for the make transfer page */
.account-details {
  display: flex;
  flex-direction: column;  /* Align items vertically */
  justify-content: flex-start;
  align-items: flex-start; /* Align items to the left */
  padding: 10px;
  background: #dddcdc;
  margin-bottom: 20px;
}


.circle-icon {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}


.myaccount, .recipient-account {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}


.btn-primary {
  background-color: red;
  color: white;
  border: none;
  padding: 12px 20px;
  width: 100%; /* Makes the button extend fully horizontally */
  font-size: 16px; /* Adjust the font size as necessary */
  cursor: pointer; /* Makes it clear the button is clickable */
}


/*for the select_location modal*/

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 150%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  font-size: small !important;

}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Adjust as needed */
  padding: 20px;
  border: 1px solid #888;
  font-size: small;

  width: 80%; /* Adjust as needed */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  font-size: small;

}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.buttonpromptpay-link {
  display: block;
  width: auto;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #ff0000;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  font-size: small;
}

.button:hover {
  background-color: #888;
}
.buttonproceed-link{
  display: block;
  width: auto;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: white;
  color: rgb(255, 0, 0);
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  font-size: small;
  border: 1px solid rgb(255, 0, 0);}

.topboxovrtrnsfr1 h1{
  font-size: medium;
  text-align: center;
}
.topboxovrtrnsfr1{
  background-color: #162633;
  color: white;
  padding: 20px;
  text-align: center;
}
.topboxovrtrnsfr2 h1{
  font-size: medium;
  text-align: center;
  background-color: #ffffff;
  color: #242323;
  padding: 20px;
  text-align: center;
}


.search-container01 {
  display: flex;
  align-items: center;
  background-color: #ebebeb;
 

}

.search-container01 input[type="text"]#search-barovertrnsfr {
  padding: 10px;
  width: 100%; /* Take full width of container */
  box-sizing: border-box; /* Include padding in width calculation */
  border: 1px solid #ccc; /* Border style */
  border-radius: 4px; /* Rounded corners */
  font-size: 14px; /* Font size */
  margin: 20px 20px 20px 20px  ;

}


.listofcountriesovrs {
background-color: white;
margin-top: 2px;

}

.listofcountriesovrs ul {
  list-style-type: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
  margin-top: 10px;


}

.listofcountriesovrs ul li {
  border-bottom: 1px solid #ccc; /* Thin grey line below each list item */
  text-decoration: none;
   /* Small font size */
  color: hsl(0, 0%, 0%) !important ; /* Text color */
  margin-top: 20px;


}


.listofcountriesovrs ul li a {
  text-decoration: none; /* Remove underline */
  font-size: medium !important;
  color: inherit; /* Inherit parent text color */
  margin-left: 30px;

}

.listofcountriesovrs ul li a:hover {
  background-color: #f2f2f2; /* Lighter background color on hover */
}
.bodyoverstrsnfnewrecepient{
  background-color: #ccc;
}
.overseas_transfer_create_recipient_path{
  background-color: white;
  display: flex;
  font-size: medium;
}