.ovrstransfer1 {
  width: 100%;
}

/* Style for the title container */
.topboxovrtrnsfr1 {
  background-color: #162633;
  color: white;
  padding: 10px 15px;
  text-align: center;
}

/* Title styling */
.topboxovrtrnsfr1 h1 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

/* Style for the notification banner */
.notification-banner {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  color: black;
  font-size: small !important;
  display: flex; /* Align items horizontally */
  justify-content: space-between; /* Space out text and image */
  align-items: center; /* Vertically center the items */
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
}


.tabos-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  background: rgb(255, 254, 254);
  font-size: small;
    justify-content: space-around;
    border-bottom: 1px solid #ddd;
    
}


.tabos-list .tabos {
  flex: 1;
  font-size: small;

  text-align: center;
  position: relative; /* Ensure position relative for z-index */
  border-bottom: 2px solid grey; /* Add right border for the line */

}


.tabos-list .tabos a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: rgb(63, 63, 63);
  font-size: medium;

}
.tabos-list .tabos.active a {
  text-underline-offset: 2px; /* Adjust as needed */
  color: rgb(0, 0, 0); /* Text color for active state */
  font-weight: bold;
}

.tabos-content {
background-color: #fffcfc;
  border-top: none;
  font-size: medium;

  
}
.tabos-container {
  background-color: #fff;
}

.recipient-entry {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: medium;
margin: 10px 10px 20px 10px;
padding: 5px;

}

.recipient-icon {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  font-size: medium;

}

.button.primary-button {
  font-size: small;
  font-weight: bold;
  background-color: #f5f5f5 !important;
  border: 1px solid #cccccc; /* Light gray border */
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #343434;
  display: block; /* Makes the element a block-level element */
  width: 100%; /* Makes the element stretch across the screen */
  text-align: center; /* Center-aligns text inside the box */
  margin: 0 !important; /* Reset margin to ensure no extra space */
  margin-top: 20px !important;
}


/*for the make transfer page */
.account-details {
  display: flex;
  flex-direction: column;  /* Align items vertically */
  justify-content: flex-start;
  align-items: flex-start; /* Align items to the left */
  padding: 10px;
  background: #dddcdc;
  margin-bottom: 20px;
}


.circle-icon {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}


.myaccount, .recipient-account {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}


.btn-primary {
  background-color: red;
  color: white;
  border: none;
  padding: 12px 20px;
  width: 100%; /* Makes the button extend fully horizontally */
  font-size: 16px; /* Adjust the font size as necessary */
  cursor: pointer; /* Makes it clear the button is clickable */
}


/*for the select_location modal*/

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 150%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  font-size: small !important;

}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Adjust as needed */
  padding: 20px;
  border: 1px solid #888;
  font-size: small;

  width: 80%; /* Adjust as needed */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  font-size: small;

}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.buttonpromptpay-link {
  display: block;
  width: auto;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #ff0000;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  font-size: small;
}

.button:hover {
  background-color: #888;
}
.buttonproceed-link{
  display: block;
  width: auto;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: white;
  color: rgb(255, 0, 0);
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  font-size: small;
  border: 1px solid rgb(255, 0, 0);}


.topboxovrtrnsfr2 h1{
  font-size: medium;
  text-align: right;
  color: black;
  text-align: center;
   font-weight: bold;

}


.search-container01 {
  display: flex;
  align-items: center;
  background-color: #ebebeb;
 

}

.search-container01 input[type="text"]#search-barovertrnsfr {
  padding: 10px;
  width: 100%; /* Take full width of container */
  box-sizing: border-box; /* Include padding in width calculation */
  border: 1px solid #ccc; /* Border style */
  border-radius: 4px; /* Rounded corners */
  font-size: 14px; /* Font size */
  margin: 20px 20px 20px 20px  ;

}


.listofcountriesovrs {
background-color: white;
margin-top: 2px;

}

.listofcountriesovrs ul {
  list-style-type: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
  margin-top: 10px;


}

.listofcountriesovrs ul li {
  border-bottom: 1px solid #ccc; /* Thin grey line below each list item */
  text-decoration: none;
   /* Small font size */
  color: hsl(0, 0%, 0%) !important ; /* Text color */
  margin-top: 20px;


}


.listofcountriesovrs ul li a {
  text-decoration: none; /* Remove underline */
  font-size: medium !important;
  color: inherit; /* Inherit parent text color */
  margin-left: 30px;

}

.listofcountriesovrs ul li a:hover {
  background-color: #f2f2f2; /* Lighter background color on hover */
}

.overseas_transfer_create_recipient_path{
  background-color: white;
  display: flex;
  font-size: medium;
}

.ovrstransfer1 {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ddd;
  overflow: hidden;
}

.no-recipients-text{
  font-size: large;
  text-align: center;
  padding-top: 40vw;
}
.no-recipients-subtext{
  font-size: medium;
  text-align: center;
  margin:0px 40px 20px 40px ;
}
.newrep1{
  font-size: small; 
  font-weight: bold;
  background-color: #f5f5f5 !important;
  height: 60px;
  width: 100%;
  padding-left: 10px;
  border: none; /* Remove all borders */
    border-bottom: 1px solid #cccccc; /* Light gray border at the bottom */
    box-sizing: border-box;
    margin: 0; /* Reset margin to ensure no extra space */
padding-top: 10px;

}
.newrep2{
  background-color: white;
  font-size: medium; 
  width: 100%;
  height: 20vw;
color: #9f9d9d;
padding-left: 10px;
border: none; /* Remove all borders */
    border-bottom: 1px solid #cccccc; /* Light gray border at the bottom */
    box-sizing: border-box;
}
.newrep2 p{
  font-size: x-small;
  padding-top: 10px;
}
.newrep3{
  font-size: x-small; 
  font-weight: bold;
  background-color: #f5f5f5 !important;
  height: 60px;
  width: 100%;
  padding-left: 10px;
  border: none; /* Remove all borders */
    border-bottom: 1px solid #cccccc; /* Light gray border at the bottom */
    box-sizing: border-box;
    margin: 0; /* Reset margin to ensure no extra space */
padding-top: 10px;

}
.buttonsubmitred{
  background-color: red;
  font: small !important;
  margin-top: 10px ;
  color: white;
  width: 70%;
  height: 10vw;
  display: inline-block; /* Ensure the button is treated as a block-level element */
margin-left: 50px;
}

.plus-icon {
  width: 25px; /* Adjust to your desired size */
  height: 25px; /* Adjust to your desired size */
  margin-right: 5px; /* Adjust space between icon and text if needed */
}

.text-content {
  flex: 1; /* Takes up available space */
  text-align: left; /* Align text to the left */
  font-size: small !important;
}

.icon-container {
  display: flex; /* Ensure the icon is centered within this container */
  justify-content: center;
}

.greencircle-icon {
  width: 60px; /* Adjust to your desired size */
  height: 60px; /* Adjust to your desired size */
}
