* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.mainschedule{
  width: 100%;
}
/* Scheduled transaction */
.scheduledtopbar {
  color: #19252e;
  background-color: #ffffff;
  position: sticky;
  justify-content: flex-start;
  display: flex;
  border-bottom: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.body-content1 {
  padding-top: 15px;
  border: none;
  display: flex;
  flex-direction: column;
}

.topbartext {
  font-size: 16px; /* Adjust font size */
  flex: 1; /* Take remaining space */
  margin-left: 20px; /* Margin between back button and text */
  white-space: nowrap;
}

.back-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333; /* Adjust color */
  margin-right: 10px; /* Adjust color as needed */
  margin-top: 10px;
  margin-left: 10px;
  font-size: 30px;
}

.back-icon {
  fill: currentColor;
}

.myaccount {
  display: flex;
  padding-left: 20px;
  align-items: center; /* Center items vertically */
}

.circle-icon {
  width: 40px; /* Adjust size of the circle */
  height: 40px;
  border-radius: 50%; /* Ensure it's circular */
  border-style: solid; /* Background color of the circle */
  border-width: 1px;
  border-color: #888888c6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px; /* Spacing between circle and text */
}

.myaccounttext {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 10px;
  letter-spacing: 0.5px;
}

.arrow-and-line-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.arrow-gif-container {
  margin-right: 10px; /* Adjust spacing between arrow gif and line */
  padding-left: 15px;
}

.horizontal-line {
  flex: 1; /* Take remaining space */
  height: 1px; /* Height of the horizontal line */
  background-color: #ccc; /* Color of the horizontal line */
}

.recipienttext {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  padding-left: 10px;
  letter-spacing: 0.5px;
  font-size: 24px !important;
}

.whitespace {
  background-color: white;
  padding-bottom: 15px;
}

.moneybody {
  background-color: #162633;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.amount-section {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
}

.amount-label {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.moneyleft {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: transparent;
  padding-top: 10px;
  padding-left: 5vw;
}

.amtin {
  color: #C3CCD3;
  font-size: 13px;
  background-color: transparent;
  margin: 0;
  padding-left: 10px;
}

.currency {
  color: #C3CCD3;
  font-size: 24px;
  font-family: 'Lato';
  font-weight: 600;
  background-color: transparent;
  margin: 0.5vh 0 2.5vh 0;
  padding-left: 10px;
}

.schemoneyright {
  display: flex;
  background-color: transparent;
  padding: 0;
  justify-content: flex-end;
  font-size: 20px;
}

.amount-input {
  width: 100%;
}

.amount-field {
  width: 50%; /* Adjust width as needed */
  padding: 10px;
  font-size: 25px;
  background-color: #1c2834;
  color: #aeb8c4;
}

.amount-field::placeholder {
  color: #aeb8c4;
}

.nextbutton input[type="submit"] {
  background-color: #ff3234;
  color: white;
  margin-top: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  border: none; /* No border */
  padding: 15px 30px; /* Padding for the button */
  font-size: 16px;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Lato";
  margin-left: 30px;
  width: 90%;
  margin-right: 30px;
  margin-bottom: 30px;
  bottom: 0;
  position: fixed;
}
.myaccount-container{
  flex-direction: column;
}

  .body-content1 {
    padding-top: 10px;
  }

  .topbartext {
    font-size: 14px; /* Adjust font size for smaller screens */
  }


  .myaccount {
    padding-left: 10px;
  }

  .circle-icon {
    width: 30px; /* Adjust size of the circle */
    height: 30px;
  }

  .arrow-gif-container {
    padding-left: 10px;
  }

  .currency {
    font-size: 20px;
  }

  .amount-field {
    width: 70%;
    font-size: 20px;
  }

  .nextbutton input[type="submit"] {
    width: 80%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    font-size: 14px;
  }

  .transaction {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    position: relative;
  }
  
  .transaction p {
    margin: 5px 0;
  }
  
  .transaction button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .transaction .transaction-label {
    font-weight: bold;
    color: #555;
  }
  
  .whitespace {
    height: 50px;
  }
  
  .add-transaction-link {
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #0073e6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    max-width: 200px;
    text-align: center;
  }
  
  .add-transaction-link:hover {
    background-color: #005bb5;
  }
  
  #confirmation-popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Dark background with opacity */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    font-family: 'Lato', sans-serif; /* Apply Lato font */
  }

  #confirmation-popup-content {
    background-color: #fff; /* White background for the popup */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Adjust as needed */
    max-width: 500px; /* Max width for larger screens */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative; /* For positioning the close button */
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: center; 
    top: 300px;
    left: 40px;
  }
  
  #submit-button {
    background-color: red;
    color: white;
    border: none;
    padding: 15px;
    font-size: 18px;
    width: 90%;
    max-width: 600px;
    border-radius: 6px;
    cursor: pointer;
    justify-content: bottom;
    margin-left: 17px;
  }

  #submit-button:hover {
    background-color: darkred;
  }

  #confirm-yes {
    display: inline-block;
    padding: 5px 20px;
    background-color: rgb(205, 0, 0);
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }


  #popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
  }
  
  #popup-close:hover {
    color: #000;
  }

  #reminder {
    font-size: 20px;
    margin: 0;
    padding: 0;
  }