* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.mainschedule{
  width: 100%;
}
/* Scheduled transaction */
.scheduledtopbar {
  color: #19252e;
  background-color: #ffffff;
  position: sticky;
  justify-content: flex-start;
  display: flex;
  border-bottom: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.body-content1 {
  padding-top: 15px;
  border: none;
  display: flex;
  flex-direction: column;
}

.topbartext {
  font-size: 16px; /* Adjust font size */
  flex: 1; /* Take remaining space */
  margin-left: 20px; /* Margin between back button and text */
  white-space: nowrap;
}

.back-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333; /* Adjust color */
  margin-right: 10px; /* Adjust color as needed */
  margin-top: 10px;
  margin-left: 10px;
}

.back-icon {
  fill: currentColor;
}

.myaccount {
  display: flex;
  padding-left: 20px;
  align-items: center; /* Center items vertically */
}

.circle-icon {
  width: 40px; /* Adjust size of the circle */
  height: 40px;
  border-radius: 50%; /* Ensure it's circular */
  border-style: solid; /* Background color of the circle */
  border-width: 1px;
  border-color: #888888c6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px; /* Spacing between circle and text */
}

.myaccounttext {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  padding-left: 10px;
  letter-spacing: 0.5px;
}

.arrow-and-line-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.arrow-gif-container {
  margin-right: 10px; /* Adjust spacing between arrow gif and line */
  padding-left: 15px;
}

.horizontal-line {
  flex: 1; /* Take remaining space */
  height: 1px; /* Height of the horizontal line */
  background-color: #ccc; /* Color of the horizontal line */
}

.recipienttext {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  padding-left: 10px;
  letter-spacing: 0.5px;
  font-size: 24px !important;
}

.whitespace {
  background-color: white;
  padding-bottom: 15px;
}

.moneybody {
  background-color: #162633;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.amount-section {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
}

.amount-label {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.moneyleft {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: transparent;
  padding-top: 10px;
  padding-left: 5vw;
}

.amtin {
  color: #C3CCD3;
  font-size: 13px;
  background-color: transparent;
  margin: 0;
  padding-left: 10px;
}

.currency {
  color: #C3CCD3;
  font-size: 24px;
  font-family: 'Lato';
  font-weight: 600;
  background-color: transparent;
  margin: 0.5vh 0 2.5vh 0;
  padding-left: 10px;
}

.schemoneyright {
  display: flex;
  background-color: transparent;
  padding: 0;
  justify-content: flex-end;
  font-size: 20px;
}

.amount-input {
  width: 100%;
}

.amount-field {
  width: 50%; /* Adjust width as needed */
  padding: 10px;
  font-size: 25px;
  background-color: #1c2834;
  color: #aeb8c4;
}

.amount-field::placeholder {
  color: #aeb8c4;
}

.nextbutton input[type="submit"] {
  background-color: #ff3234;
  color: white;
  margin-top: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  border: none; /* No border */
  padding: 15px 30px; /* Padding for the button */
  font-size: 16px;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Lato";
  margin-left: 30px;
  width: 90%;
  margin-right: 30px;
  margin-bottom: 30px;
  bottom: 0;
  position: fixed;
}
.myaccount-container{
  flex-direction: column;
}

  .body-content1 {
    padding-top: 10px;
  }

  .topbartext {
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  .back-button {
    margin-right: 5px; /* Adjust margin for smaller screens */
  }

  .myaccount {
    padding-left: 10px;
  }

  .circle-icon {
    width: 30px; /* Adjust size of the circle */
    height: 30px;
  }

  .arrow-gif-container {
    padding-left: 10px;
  }

  .currency {
    font-size: 20px;
  }

  .amount-field {
    width: 70%;
    font-size: 20px;
  }

  .nextbutton input[type="submit"] {
    width: 80%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    font-size: 14px;
  }
