.scshortcut-button {
    display: inline-block;
    /* text-align: center; */
    /* margin: 10px; */
  }

.scshortcut-button .btn-danger {
    margin-top: 10px;
}
  
.shortcutImage {
  width: 100px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
}

.scicons {
  width: 60px; /* Adjust the width as needed */
  height: 60px; /* Ensure the height is the same as width to make it a square */
  background-color: #066DAF; /* Adjust the background color as needed */
  color: white; /* Text color */
  display: flex; /* Use flexbox to center the text */
  align-items: center; /* Center the text vertically */
  justify-content: center; /* Center the text horizontally */
  border-radius: 15px; /* Adjust the radius for rounded edges */
  font-size: 12px; /* Adjust the font size as needed */
  font-weight: bold; /* Make the text bold */
  text-align: center; /* Center align the text */
}

.sciconcontainer {
  
  display: flex; /* Make iconcontainer flex */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: flex-start; /* Align items to the start */
  width: 20vw;
}

.custom-label {
  font-family: 'Lato', sans-serif;
  margin-top: 5px;
  font-size: 24px;
  padding-left: 20px;
}

.form-control{
  margin-right: 30px;
  letter-spacing: 0.5px;
  color: #505050;
  font-weight: 530;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
}

.count{
  padding-left: 10px;
}

.widget{
  display: flex;
  justify-content: center;
}

.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center child elements horizontally */
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Ensure the container has a height to center within */
}

#nickname-icon {
  border-radius: 15px; /* Apply border-radius */
}