.greentick {
    max-width: 100%;
    height: 5em;
    display: block;
    margin: auto;
    padding: 20px;
    margin-top: 10vw;
}
.top-right-image {
  position: fixed; /* Position the image fixed to the viewport */
  top: 10px; /* Adjust the distance from the top */
  right: 10px; /* Adjust the distance from the right */
  width: 30px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  padding-right: 5px;
  padding-top: 5px;
}
.succes{
  text-align: center;
}

.bigT {
  text-align: center;
  font-weight: bold;
}
.bigT2{
  text-align: center;
  font-size: medium;
}
.Share {
  display: inline-flex; /* Flexbox to align text and icon inline */
  align-items: center; /* Center items vertically */
  padding: 5px 10px; /* Adjust padding to control the size of the box */
  border: 2px solid #3b3b3b; /* Black border */
  border-radius: 5px; /* Rounded corners */
  font-size: small !important; /* Font size */
  font-weight: bold; /* Bold text */
  text-align: center; /* Center text inside the box */
  cursor: pointer; /* Pointer cursor on hover */
  background-color: white; /* Background color */
  color: #3b3b3b; /* Text color */
  margin: 10px;
}

.ShareIcon {
  width: 12px; /* Adjust the size of the icon */
  height: auto; /* Maintain aspect ratio */
  margin-right: 5px; /* Space between icon and text */
}
.sucesspagebg{
    background-color: rgb(244, 242, 242);
}
.amount-fieldsuccess{
    padding: 10px;
    font-size: 25px;
    background-color: #1c2834;
    color: #aeb8c4; 
}
.right2{
    display: flex;
    margin-top: 20px;
    
    background-color: transparent;
    padding-left: 10px;
    justify-content: flex-end;
    font-size: 10px;
}
.moneybody2{
background-color: #162633;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.name{
    background-color: white;
    padding-bottom:0.5em;
    text-align:left ;
    padding-left: 1em;
    padding-top: 0.5em;
}

.red-button {
    background-color: rgb(248, 0, 0);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center items vertically */
    cursor: pointer;
    margin: auto;
    width: 90%;
    font-size: small;
    font-family: "Lato";

    
  }
  .grey-button {
    background-color: rgb(170, 168, 168);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center items vertically */
    cursor: pointer;
    margin: auto;
    width: 90%;
    font-size: 20px;
    font-family: "Lato";

    
  }

  .red-button:hover {
    background-color: darkred;
  }
  .grey-button:hover {
    background-color: darkred;
  }

  .button-container {
   margin-top: 5em;
   background-color: white;
   font-size: small;
   position : fixed;
   bottom:0;
   display: inline;
   width: 100%;
   left:0;
   padding: 10px;
   padding-bottom: 40px;
   padding-top: 20px;
  }
  .RedText{
    font-size: small;
    color: red;
    padding-left: 25px;
  }
  .button-container p{
    font-size: small;
   
  }
.displaysucc{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
}
.smallT{
  color: #525252;
  font-size: small !important;
}